av
addict
einops
future
numpy
scipy
opencv-python
matplotlib
scikit-image
torch>=1.7.1
torchvision>=0.8.2
imageio-ffmpeg
pyyaml
requests
timm
yapf
progressbar2
gdown
gitpython
git+https://github.com/cheind/py-thin-plate-spline
hickle
tensorboard
git+https://github.com/facebookresearch/segment-anything.git
gradio
opencv-python
openmim
tqdm
psutil
